 
 @media only screen and (max-width: 600px) {

    body{
       background-color: black; 
    }
    header
    {
        width: 1321px;
        height: 27px;
        background-color: red;
    }


 }

 @media only screen and (min-width: 600px) {
    body{
        background-color: black; 
        display: flex;
        flex-direction: column;
     }
     header 
     {
         display: flex;
         padding: 0 auto;
         width: 100%;
         justify-content: center;
     }
     header div
     {
         padding: 20px 10px 0px 10px;
         height: 27px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;

     }
     header nav  {
         width: 600px;
     }

     #menu-botoes
     {
         padding-left: 10px;
         padding-top: 5px;
     }
     #menu-num
     {
         padding-top: 5px;
     }

     #menu-botoes a
     {
         color: white;
         text-decoration: none;
         padding-left: 30px;
         
     }
     #menu-num a
     {
         color: white;
         text-decoration: none;
         cursor:auto;
         margin-left: 70px;
         padding-left:150px;  
         
     }
    #home 
     {
        display: flex;
        justify-content: center;
        
     }
     
     main
     {
         margin-top: 100px;
         height: 1087px;
         background-image: url("../imgs/foto.png");
         background-position: center;
         background-repeat: no-repeat;
         background-size:  1920px 1087px;
     }
    

     #ft-m #chamada
     {
        margin-top: 200px;
        margin-left: 200px;
        width: 200px;
        height: 100px;
        color: white;
        font-size: 30px;
        display: flex;
     }
     #marcacao
     {
         margin-top: 20px;
         margin-right: 5px;
         height: 57px;
         width: 5px;
         background-color: #FF4343;
     }
     #comprar
     {
         margin: 10px;
         padding: 20px;
         font-size: 12px;
         background-color: #FF4343;
         color: white;
         text-decoration: none;
         border-radius: 30px;
     }
     
     #pg-m
     {
         margin-top: 273px;
         height: 1625px;
         background-color: white;
         background-image: url("../imgs/foto2.png");
         background-position: center;
         background-repeat: no-repeat;
         background-size:  1908px 1625px;
     }
     #pg-f
     {

         background-color: white;
         width: 100%;
     }
 }
 
 @media only screen and (min-width: 768px) {

 }
 
 @media only screen and (min-width: 992px) {

 }
 
 @media only screen and (min-width: 1200px) {

 } 