 
 @media only screen and (max-width: 600px) {

    body{
       background-color: black; 
    }
    header
    {
        width: 1321px;
        height: 27px;
        background-color: red;
    }


 }

 @media only screen and (min-width: 600px) {
    body{
        background-color: black; 
        display: flex;
        flex-direction: column;
     }
     #bt-menu
     {
         margin-top: 50px;
     }
     header 
     {
         display: flex;
         padding: 0 auto;
         width: 100%;
         justify-content: center;
     }
     header div
     {
         padding: 20px 10px 0px 10px;
         height: 27px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;

     }
     header nav  {
         width: 600px;
     }

     #menu-botoes div 
     {
         width: 60px;
         height: 60px;
         background-color: red;
     }
     #menu-botoes
     {
         padding-left: 10px;
         padding-top: 5px;
     }
     #menu-num
     {
         padding-top: 5px;
     }

     #menu-botoes a
     {
         color: white;
         text-decoration: none;
         padding-left: 30px;
         
     }
     #menu-num a
     {
         color: white;
         text-decoration: none;
         cursor:auto;
         margin-left: 70px;
         padding-left:150px;  
         
     }
    #home 
     {
        display: flex;
        justify-content: center;
        
     }
     
     main
     {
         margin-top: 100px;
         height: 1087px;
         background-image: url("../imgs/foto.png");
         background-position: center;
         background-repeat: no-repeat;
         background-size:  1920px 1087px;
     }
    
     #ft-m .chamada 
     {
         margin-top: 200px;
         margin-left: 200px;
         margin-bottom: 500px;
     }

     .chamada
     {
        
        height: 100px;
        color: white;
        font-size: 30px;
        display: flex;
     }
     .chamada .conteudo-1
     {
         width: 200px;
     }
     .chamada .conteudo-2
     {
         width: 244px;
         
     }
     .marcacao
     {
         margin-top: 20px;
         margin-right: 5px;
         height: 57px;
         width: 3px;
         background-color: #FF4343;
         display: flex;
     }
     .comprar
     {
         margin: 10px;
         padding: 20px;
         font-size: 12px;
         background-color: #FF4343;
         color: white;
         text-decoration: none;
         border-radius: 30px;
     }
     
     #pg-m
     {
         margin-top: 23px;
         height: 1625px;
         background-color: #F6F6F6;
         background-image: url("../imgs/foto2.png");
         background-position: center;
         background-repeat: no-repeat;
         background-size:  1908px 1625px;
         display: flex;
         flex-direction: column;
     }
     
     .info
     {
         display: flex;
         justify-content: center;
         margin-top: 60px;
     }

     #pg-m .chamada 
     {
        margin: 180px 500px 0 0;
         justify-content: center;
     }

     #pg-m .info div
     {
         margin-left: 200px;
        width: 300px;
        color: white;
        font-size: 16px;
     }
     #pg-m .info p 
     {
         width: 270px;
         margin-bottom: 100px;
     }

     .info div a 
     {
         
         color: #FF4343;
         text-decoration: none;
     }

     #pg-f
     {
        background-color: #F6F6F6;
         width: 100%;
         height: 600px;
         display: table;

     }

     #pg-f .info div
     {
        margin-left: 200px;
        width: 300px;
        color: black;
        font-size: 16px;
     }
     #pg-f div 
     {
         color: black;
     }

     #pg-f .info p 
     {
         width: 270px;
         margin-bottom: 100px;
     }

     #pg-f .info a 
     {
         color: white;
     }

     #pg-f .chamada
     {
        margin: 0px 500px 0 0;
        justify-content: center;
     }
     #pg-f
     {
         margin-top: -350px;
     }
     #pg-p
     {
         display: flex;
         width: 100%;
         height: 600px;
         justify-content: center;
         background-color: #F6F6F6;
     }
     #pg-p div 
     {
         display: flex;
        justify-content: center;
     }
     #pg-p div div
     {
         width: 300px;
        height: 403px;
     }

     #pg-l .chamada 
     {
         
        margin: 150px 500px 0 0;
     }

     #pg-l div 
     {
         color: black;
         justify-content: center;
         
     }
     #pg-l
     {
         margin-top: -200px;
        background-color: #F6F6F6;
        width: 100%;
        height: 600px;
        display: table;
        justify-self: center;
        background-image: url("/imgs/foto_final.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:  1152px 623px;
        background-position-x: center;
     }

     

     #pg-l .info div
     {
        margin-left: 50px;
        color: black;
        font-size: 16px;
     }
     #pg-l .info
     {
         width: 325px;
     }

     footer 
     {
         display: flex;
         height: 120px;
         width: 100%;
         background-color: black;
         flex-direction: row;
         justify-content: center;
     }
     footer nav
     {
         text-decoration: none;
         color: white;
         width: 1220px;
         height: 100px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
     }
     footer nav a 
     {
         margin-top: 54px;
     } 

     footer nav p 
     {
         margin-top: 50px;
     }

     #insta
     {
         margin-right: 100px;
     }
 }
 
 @media only screen and (min-width: 768px) {

 }
 
 @media only screen and (min-width: 992px) {

 }
 
 @media only screen and (min-width: 1200px) {

 } 